/* Nav Bar */

 body {
        background-image:url("http://web4bharat.com/wp-content/uploads/revslider/slider1/i17.jpg");
    }
    
      ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: fixed;
            top: 0%;
            left:0%;
            width: 100%;
            z-index:2;
                    }
    
            li {
                float: left;
            }
            
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-family:verdana;
            }
            
            li a:hover:not(.active) {
                background-color: #b2c2bf;
            }
            
            .active {
                background-color: #4CAF50;
            }
        
        .labelSalesforce {
            font-family: verdana;
            font-size: 18;
            position: absolute;
            left: 40%;
            top: 30%;
        }
        
        .labelCloud9 {
            font-family: verdana;
            font-size: 18;
            position: absolute;
            left: 40%;
            top: 35%;
        }
        
        .labelAws {
            font-family: verdana;
            font-size: 18;
            position: absolute;
            left: 40%;
            top: 40%;
        }
        
        .labelGmail {
            font-family: verdana;
            font-size: 18;
            position: absolute;
            left: 40%;
            top: 45%;
        }
        
        
        .labelSubtotal {
            font-family: verdana;
            font-size: 18;
            position: absolute;
            left: 40%;
            top: 55%;
        }
        
        .labelDiscount {
            font-family: verdana;
            font-size: 18;
            position: absolute;
            left: 40%;
            top: 60%;
        }
        
        .labelVat {
            font-family: verdana;
            font-size: 18;
            position: absolute;
            left: 40%;
            top: 65%;
        }
        
        .labelTotal {
            font-family: verdana;
            font-size: 18;
            position: absolute;
            left: 40%;
            top: 70%;
        }
        
         .buttonProceed {
            font-family: verdana;
            font-size: 18;
            position: absolute;
            left: 40%;
            top: 75%;
            /* code recieved from w3 schools https://www.w3schools.com/css/css3_buttons.asp */
            background-color: #555555; /* Black */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 12px;
        }
        
       .buttonCalculate {
            font-family: verdana;
            font-size: 18;
            position: absolute;
            left: 40%;
            top: 85%;
            /* code recieved from w3 schools https://www.w3schools.com/css/css3_buttons.asp */
            background-color: #555555; /* Black */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 12px;
        }
        
        .linkClear {
            font-family: verdana;
            font-size: 18;
            position: absolute;
            left: 57%;
            top: 88%;
        }
        
        h4 {
            font-family: Verdana;
            font-size: 25;
            position: absolute;
            top: 19%;
            left:40%;
        }
        
        .imageSalesforce {
            position: absolute;
            left: 5%;
            top: 20%;
            width:22%;
            height: auto;
        }
        
       
        
        .imageCloud9 {
            position: absolute;
            left: 2%;
            top: 55%;
            height: auto;
            width: 30%;
        }
        
        
         .imageAws {
            position: absolute;
            left: 70%;
            top: 27%;
            height: auto;
            width: 25%;
        }
        
          .imageGmail {
            position: absolute;
            left: 70%;
            top: 65%;
            height: auto;
            width: 25%;
        }