.mainheading{
    text-align: center
}

h1 {
    font-family: Modern, Arial;
    font-size: 20px;
    }
    

		header
		{
		top:0%;
		left:0%;
		width:100%;
		height:20%;
		position:fixed;
		background:#3b3a30;
		background-image:url(Images/Background.jpg);
		text-align: center;
		color: #ffffff;
		font-family:verdana, sans-serif;
		}

    #Footer {
        position: fixed;
        height: 10%;
        top: 200%;
        left: 0%;
        width: 100%;
        border-top: 1px solid #0066cc;
        background: #554E4D;
        z-index: 90;
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        padding-top: 5px;
        font-family: verdana;
    }