#section1{
    background-color: #8ca3a3;
}

#section2{
    background-color: #484f4f;
}

#section3{
    background-color: #563f46;
}

.section{
    text-align: center;
    color: white;
}

 body {margin:0;}
               
                   ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
                position: fixed;
                top: 0%;
                width: 100%;
                z-index:4;
                        }
        
                li {
                    float: left;
                }
                
                li a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-family: verdana;
                }
                
                li a:hover:not(.active) {
                    background-color: #b2c2bf;
                }
                
                ol {
                    text-align: center;
                }