/* adding background images to page pilling slides */
#section1{
    background-image: url("https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Paris-Wallpapers-Desktop-PIC-WPC00114.jpg");
    background-repeat: no-repeat;
    width:100%;
    color:black;
}

#section2{
    background-image: url("https://www.hdwallpapers.in/walls/tokyo_by_night-wide.jpg");
    background-repeat: no-repeat;
    width:100%;
}

#section3{
    background-image: url("http://www.hdnicewallpapers.com/Walls/Big/Countries%20and%20City/Beautiful_Sydney_City_of_Australia_Wallpaper.jpg");
    background-repeat: no-repeat;
    width:100%;
    
}


.section{
    text-align: center;
    color: white;
}

       body {margin:0;}
               /* code for creating and styling nav bar code taken from w3 schools */
                   ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
                position: fixed;
                top: 0%;
                width: 100%;
                z-index:4;
                        }
        
                li {
                    float: left;
                }
                
                li a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-family: verdana;
                }
                
                li a:hover:not(.active) {
                    background-color: #b2c2bf;
                }